{% extends 'partials/base.html.twig' %}

{% set page_title = (page.title) %}

{# Get the parent of the current page #}
{% set parent_page = page.parent().title == "Pages" ? page : page.parent() %}

{% block content %}
		<div style="">
			{{page.content}}		
		</div>
{% endblock %}
