{% extends 'blog_post_without_metadata.html.twig' %}

{% set page_title = page.title %}
{% set page_date = post.published_at|date('m/d/Y') %}
{% set page_content = page.content %}
{% set word_count = page.content|split(' ')|length %}
{% set read_time = word_count / 150 %}
{% set center_page_title = true %}

{# Minimium read time should be one minute#}
{% if read_time < 1  %}
    {% set read_time = 1 %}
{% endif %}

{% if (page.taxonomy["tag"]|length > 0) %}
    {% block head %}
        {{ parent() }}
        <meta name="keywords" content="{{page.taxonomy["tag"]|join(', ')}}" />
    {% endblock %}    
{% endif %}

{% block content %}

    <div class="post-corridor">
        {% block metadata %}
            <div class="metadata">
                <span>
                    <i class="fas fa-calendar-alt"></i> {{ 'MONTHS_OF_THE_YEAR'|ta(page.publishDate|date('n') - 1) }} {{ 'DAYS_OF_THE_MONTH'|ta(page.publishDate|date('j') - 1) }}, {{ page.publishDate|date('Y') }}
                </span>
                <span>
                    <i class="fas fa-stopwatch"></i> {{ read_time|number_format }} Minute{% if read_time > 1%}s{% endif %}
                </span>
            </div>
        {% endblock %}
        

        {% if (page.summary|length > 0) %}
            {{ page.content }}
        {% else %}
            {{ page.content|slice(page.summary|length) }}
        {% endif %}

        {% if (page.taxonomy["tag"]|length > 0) %}
            <div class="tags">
                <i class="tag-icon fa fa-tag"></i>
                <ul>
                    {% for tag in page.taxonomy["tag"] %}
                        <li class="tag">{{tag}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}        

    </div>
{% endblock %}