{% extends 'partials/base.html.twig' %}

{% set page_title = page.title %}
{% set page_date = post.published_at|date('m/d/Y') %}
{% set page_content = page.content %}
{% set word_count = page.content|split(' ')|length %}
{% set read_time = word_count / 150 %}

{# Minimium read time should be one minute#}
{% if read_time < 1  %}
    {% set read_time = 1 %}
{% endif %}

{% block content %}

    <div class="post-corridor">

        {% block metadata %}
        {% endblock %}

        {% if (page.summary|length > 0) %}
            {{ page.content }}
        {% else %}
            {{ page.content|slice(page.summary|length) }}
        {% endif %}

    </div>

{% endblock %}