{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="pure-g">
	<div class="pure-u-1-3"><p>Miceal gallagher</p></div>
	<div class="pure-u-1-3"><p>Thirds</p></div>
	<div class="pure-u-1-3"><p>Thirds</p></div>
</div>
{% endblock %}