{% extends 'partials/base.html.twig' %}

{% set page_title = "Page not found" %}
{% set center_page_title = true %}

{% block content %}
    <div class="lead text-center">
        <h1>Error!</h1>
        {{ page.content }}
    </div>
{% endblock %}
