{% extends 'partials/full_page.html.twig' %}

{% set page_title = page.title %}

{% set page_content = page.content %}
{% if page.summary|length > 0 %}
	{% set page_content = page.content|slice(page.summary|length) %}
{% endif %}

{% block content %}

	{% for section in page_content|split('<hr />') %}

		<section class="exhibit-section">
			 <div class="content">
			    {{section}}
			 </div>
		</section>

	{% endfor %}

{% endblock %}
