{% extends 'partials/base.html.twig' %}

{% set page_title = page.title %}

{% set exhibits = page.collection({
    'items': '@self.children',
    'order': {'by': 'date'}
	})
%}

{% block content %}

<div class="exhibit-list">

	{% include 'partials/exhibit_list.html.twig'
	with {
		'exhibits' : exhibits
	} %}

</div>

{% endblock %}
