{% extends 'partials/base.html.twig' %}

{% set page_title="Welcome" %}

{% block slider %}
    {% include 'partials/home/slider.html.twig' %}
{% endblock %}

{% block content %}

	<div class="full-preview">
		{% include 'partials/home/exhibit-preview-tiles.html.twig'  %}

    	{% include 'partials/home/post-preview-tiles.html.twig'  %}
    </div>

    <div class="small-preview">
    	<a href="/exhibits" class="exhibit-item">
			<div class="item" style="background-image: url('{{ url('theme://images/exhibits.jpg') }}')">
				<h1>Exhibits</h1>
			</div>
		</a>
		<a href="/whats_happening" class="blog-item">
			<div class="item" style="background-image: url({{url('theme://images/blog.jpg')}}),linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);">
				<h1>What's Happening</h1>
			</div>
		</a>
    </div>

{% endblock %}