{% extends 'partials/full_page.html.twig' %}

{% set page_title = "Under Construction" %}
{% set center_page_title = true %}

{% block content %}
    <div class="construction">
    	<h1>{{ page.title }}</h1>
    	<h1>{{ 'UNDER_CONSTRUCTION'|t }}</h1>
    	<img src="{{ url('theme://images/underconstruction.png') }}" alt="We are building the future?" />
    </div>
{% endblock %}
