{% extends 'partials/base.html.twig' %}

{% set page_title = (page.title) %}

{# Get the parent of the current page #}
{% set parent_page = page.parent().title == "Pages" ? page : page.parent() %}

{# Build an array of the menu items {key=>title, value=>url} #}
{% set menu_items = {(parent_page.title) : (parent_page.url)} %}
{% for child in parent_page.children.order('folder', 'asc') %}
	{% set menu_items = menu_items|merge({(child.title) : child.url}) %}
{% endfor %}

{% block content %}

	<div class="side-menu-with-content-wrapper">
		<div class="side-menu">
			<ul>
				{# Output the menu, add a selected class to the current page #}
				{% for title, url in menu_items %}
					<a href="{{url}}">
						<li class="{% if (page.url) == url %}side-menu-selected-item{% endif %}">{{title}}</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="full-grid">
			{% for item in page.content|split('<hr />') %}

					 <div class="grid-item">
					    {{item}}
					 </div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
