{% extends 'partials/base.html.twig' %}

{% set page_posts = page.collection({
    'items': '@self.children',
    'pagination': true,
    'order': {'by': 'publish_date', 'dir': 'desc'},
    'limit': 20})
%}

{% set itemsInCollection = page.collection({'items': page_posts.params.items})|length %}
{% set itemsPerPage = page_posts.params.limit %}
{% set pagesInCollection = (itemsInCollection / itemsPerPage)|round(0, 'ceil') %}
{% set currentPage = uri.param('page')|default('1') %}

{% set page_title = page.title %}
{% if (currentPage > 1) %}
    {% set page_title = "#{page_title} - Page #{currentPage}" %}
{% endif %}


{% block content %}

	{% if (currentPage == 1) %}
        {% set newer_posts = page_posts[:8] %}
        {% set older_posts = page_posts[8:] %}

		<section class="blog-posts-list">

            {% include 'partials/blog_post_list.html.twig'
            with {
            	'posts' : newer_posts,
            	'is_small_mode_enabled' : false
            } %}

		</section>

		<section class="older-blog-posts">
			<div class="older-posts-list">

				<span class="older-post-header">
					<h2>{{ t("WHATS_HAPPENING.OLDER_POSTS") }}</h2>
				</span>

                {% include 'partials/blog_post_list.html.twig'
                with {
                	'posts' : older_posts,
					'is_small_mode_enabled' : true
                } %}

			</div>
		</section>

	{% else %}
        <section class="older-blog-posts">
            <div class="older-posts-list">

                {% include 'partials/blog_post_list.html.twig'
                with {
                    'posts' : page_posts,
                    'is_small_mode_enabled' : true
                } %}

            </div>
        </section>
	{% endif %}

    {% if (pagesInCollection > 1) %}
        <section class="paginator">
            <ul>
                {% for i in range(1, pagesInCollection) %}
                    <a href="{{ page.url ~ '/page' ~ system.param_sep ~ i }}">
                        <li {% if currentPage == i %} class="current-page" {% endif %}>
                            {{ i }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    
{% endblock %}
