/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    margin: 0 18rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 0.6rem 0;
}

.header {
    color: #eee;
    height: 5.4em
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header .logo img {
    padding-top: 10px;
    width: 276px;
}

.home-section{
    margin-bottom: 20px;
    height: 25px;
    padding-bottom: 7px;
    border-bottom: 1px solid #efefef;
    box-sizing: content-box !important;
}

.slider {
    background-image: url(../../../../images/heron_bridge.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    background-size: 100%;
}

/* Menu Settings */

.main {
    float: right;
}

.home-section-title {
    font-size: 13px;
    font-weight: 600;
    float: left;
    height: 26px;
    line-height: 26px;
    background: #f7f7f7;
    padding: 0 10px;
    text-transform: uppercase;
}

.main-nav ul {
    float: right;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul > li {
    display: inline-block;
    letter-spacing: normal; 
    background-image: url(../images/nav-bg.png);
    background-position-x: right;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

/* .main-nav ul li :after {
    content:"";
    background: black; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    height: 50%; 
    width: 1px;
}  */

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 86px;
    color: #686868;
    padding: 0 20px;
    white-space: nowrap;
    font-weight: 600;
}

.main-nav > ul > li > a {
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #e1472f;
    color: #fff;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #e1472f;
    color: #fff;
}

/* for dotted line under hovered & selected menu items -- menu item titles are wrapped in <span> in original site 
    border-bottom: 1px dotted #fff;
    padding-bottom: 2px;
*/

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: inline-block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

.exhibit-wrapper ul {
    height: auto;
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
    display: contents;
}

.exhibit-wrapper li {
    float: left;
    list-style: none;
    width: 220px;
    height: auto;
    border-bottom: 2px solid #323232;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    margin-right: 20px;
    margin-left: 0;
    text-align: center;
    display: block;
    position: relative;
    padding: 0;
}

.exhibit-wrapper a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    color: #323232;
}

.exhibit-wrapper {
    min-height: 285px;
    overflow: hidden;
    position: relative;
}

.home-preview-container {
    flex: 1;
}

.home-preview-container-title {
    font-size: 13px;
    font-weight: 600;
    float: left;
    height: 26px;
    line-height: 26px;
    background: #f7f7f7;
    padding: 0 10px;
    text-transform: uppercase;    
}

.post-preview-tile,
.exhibit-preview-tile {
    width: 95%;
    padding: 5px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef; 
    border-bottom: 2px solid #c0bcbc;
    cursor: pointer;
}

.preview-tile-synopsis {
    padding: 20px;
}

.preview-tile-synopsis p{
    font-weight: 100;
}

.preview-tile-synopsis h3 {
    font-weight: normal;
}


.flex-one {
    flex: 1;
}

.home-preview-tiles-wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch;
}

.tile-feature-image {
    height: 150px; 
    background-position: center; 
    background-repeat: no-repeat;
}

/* FOOTER */
#footer {
    margin: 0;
    padding: 0;
    display: block;
    color: #969595;
    margin-top: 150px;
    border-top: 5px solid #e1472f;
    height: 42px;
    font-size: 11px;
}

#left-half-footer {
    width: 550px;
    margin-right: 20px;
    font: inherit;
    display: inline-block;
}

#right-half-footer {
    width: 550px;     
    margin-right: 0;
    font: inherit;
    display: inline-block;
}

#bottomfooter {
    height: 42px;
    line-height: 42px;
    position: relative;
    overflow: hidden;
    clear: both;
    background-color: #323232;
}

#footer a {
	color:#fff;
}

/* Copyright */
#left-half-footer p {
    float:left;
    margin: 0;
    font-size:11px;
    vertical-align: baseline;
    line-height: 42px;
}

#bottomfooter a {
    color:#efefef;
	transition: all 0.2s linear;
}	

#footer #bottomfooter a:hover {
	color:#fff;
}

.totop {
	background:url(images/top.png) no-repeat scroll 0 0;
	width:37px;
	height:42px;
	position:absolute;
	bottom:-10px;
	left:50%;
	margin-left:-18px;
	text-indent:-9999px;
}

ul.social, ul.language_selector {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul.social li {
    display:inline;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.social li a {
    height:42px;
    line-height: 42px;	
	width:38px;	
	display:block;
	font-size: 14px;
	text-align: center;
	margin:0 0 0 1px;
	float:left;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transition:background 0.2s linear; 
	-moz-transition:background 0.2s linear;
	transition:background 0.2s linear;
}

ul.language_selector a {
    height: 42px;
    line-height: 42px;
}

ul.social li a:hover {
    font-size:18px;
    color:#fff !important;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

a.facebook:hover {
	background-color:#3b5998;
}

a.twitter:hover {
	background-color:#00acee;
}

a.youtube:hover {
	background-color:#d93030;
}

.flags_language_selector {
    float: right;
    font-size: 12px;
    margin-right: 20px;
}

.flags_language_selector li.active-lang {
    background: #fff;
    color: #323232;
    line-height: 42px;
}

.flags_language_selector li {
    display: inline-block;
    padding: 0 5px;
    margin: 0 3px;
}

.flags_language_selector li a {
    color: #fff;
}

/*END FOOTER*/

.post {
    border-bottom: solid 1px #f5f5f5;
}

article.post-preview {
    border: 1px solid green;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.feature-image {
    width: 300px;
    height: 200px;
}

.page-title {
    display: inline-table;
    border-bottom: 2px solid;
}

.post-metadata {
    padding-left: 20px;
}

section .blog-posts {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 50px;
}

section .blog-posts .post-preview-tile {
    margin-bottom: 20px;
}

.page-header {
    display: grid;
    width: 100%;
    grid-template-rows: 90px auto;
    grid-template-columns: 10vw auto 10vw;
    color: white;
    background-image: url('http://workershistorymuseum.ca/wp-content/themes/sympathique/images/bg/bg22.png');
    height: 177px;
    margin-bottom: 80px;
    border-bottom: solid 1px grey;
}

.page-header-holder {
    padding: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    background: white;

}

.page-header-holder h2 {
    border-bottom: 1px solid #efefef;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 2em;
}




/* Exhibit slides */
* {
  
}

body {
  margin: 0; 
}

.exhibit-section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}

.exhibit-section:nth-of-type(2n) {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;   
    background-image: url('http://workershistorymuseum.ca/wp-content/themes/sympathique/images/bg/bg22.png');
}


.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}