{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>Workers' History Museum | {{page_title}} </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include 'partials/metadata.html.twig' %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo-sm.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://use.fontawesome.com/releases/v5.0.4/css/all.css') %}
        {% do assets.addCss('theme://css/main.css', 98) %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
        {% include 'partials/analytics.html.twig' %}
        {{ assets.js() }}
    {% endblock %}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
{% block header %}
    <div class="header language-selector">
        <div class="wrapper">
            <div class="flags_language_selector">
                <div id="header_language_list">
                    {% include 'partials/langswitcher.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        {% include 'partials/navigation.html.twig' %}
    </div>
{% endblock %}

{% include 'partials/page_title.html.twig' %}

{% block body %}
    <section id="body">
        {% block slider %}{% endblock %}
        <div class="body-corridor" style="">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div id="footer" class="text-center">
            {{ include('partials/footer.html.twig') }}
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}


</body>
</html>


