{% set posts = posts|default([]) %}
{% set is_small_mode_enabled = is_small_mode_enabled|default(false) %}

{% for post in posts %}

    {% include "partials/blog_post_preview.html.twig"
        with {
            'post' : post,
            'is_small_mode_enabled' : is_small_mode_enabled
    } %}

{% endfor %}