{#
    Blog Preview renders in two modes

    LARGE MODE
     - Landscape display with medium sized image and post synopsis

    SMALL MODE
     - Elongated thin display with thumbnail image, NO synopsis
#}

{% set crop_zoom = {"width" : 315, 'height' : 250} %}
{% set show_summary = true %}
{% set blog_post_class = "full" %}

{% set is_small_mode_enabled = is_small_mode_enabled|default(false) %}

{% if is_small_mode_enabled %}
    {% set crop_zoom = {"width" : 160, 'height' : 100} %}
    {% set show_summary = false %}
    {% set blog_post_class = "small" %}
{% endif %}

{% if post %}
    <div class="post {{blog_post_class}}" onclick="location.href='{{ post.url }}'">

        {% if post.media['featureimage.jpg'] %}
            <div class="feature-image" style="background-image: url('{{post.media['featureimage.jpg'].cropZoom(crop_zoom["width"], crop_zoom["height"]).url}}')">
            </div>
        {% else %}
            <div class="feature-image no-image" style="background-image: url('{{ url('theme://images/logo-sm.png') }}')">
            </div>
        {% endif %}
        
        <span>{{ 'MONTHS_OF_THE_YEAR'|ta(post.publishDate|date('n') - 1) }} {{ 'DAYS_OF_THE_MONTH'|ta(post.publishDate|date('j') - 1) }}, {{ post.publishDate|date('Y') }}</span>
            {#Truncate titles to 40 charaters#}
            {% if post.title|length > 40 %}
                <h3>{{post.title[:40]}}...</h3>
            {% else %}
                <h3>{{post.title}}</h3>
            {% endif %}
            {#Only show summary in LARGE MODE#}
            {% if show_summary %}
                {{ post.summary }}
            {% endif %}
    </div>
{% else %}
    <div class="flex-one">
        Warning! Value of 'post' is null in blog_post_preview.html.twig
    </div>
{% endif %}