{% set crop_zoom = {"width" : 670, 'height' : 250} %}

{% if exhibit %}
    <div class="exhibit" onclick="location.href='{{ exhibit.url }}'">
            <div class="feature-image" style="background-image: url('{{exhibit.media['featureimage.jpg'].cropZoom(crop_zoom["width"], crop_zoom["height"]).url}}');">
            </div>
            <h3 style="text-transform: uppercase">{{exhibit.title}}</h3>
            {{exhibit.summary|slice(0, 140)}}
    </div>
{% else %}
    <div class="flex-one">
        Warning! Value of 'exhibit' is null in exhibit_preview.html.twig
    </div>
{% endif %}