<div id="bottomfooter">
	<div id="left-half-footer">
		<p>Copyright 2018 | Workers' History Museum. All Rights Reserved</p>
	</div><!--end left half-->

	<div id="right-half-footer">
		<ul class="social">
			<li>
                <a href="https://www.facebook.com/WHM.MHO" title="facebook" class="facebook" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
                                
            <li>
                <a href="https://twitter.com/WorkersHistory" title="twitter" class="twitter" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
                                
            <li>
                <a href="https://www.youtube.com/user/WorkersHistoryMuseum" title="youtube" class="youtube" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>						
                        
            <li>
				<a href="http://workershistorymuseum.ca/member-and-volunteer-calendar-2/" title="calendar" class="vimeo" target="_blank">
                    <i class="fa fa-calendar"></i>
                </a>
			</li>
		</ul>	
					
        
    </div><!--end right-half-->
</div>