{% set headerless_pages = ['Welcome'] %}
{% if not in_array(page_title, headerless_pages) %}
	<section class="page-header">
	    <div class="page-header-holder">
	        <h2>
	            {{ page_title|default('') }}
	        </h2>
	    </div>
	</section>
{% endif %}