{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="has-children  {{ current_page }}">
                <a href="{{ p.url }}" class="parent">
                    {{ p.menu }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="nav-log-wrap">
    <div class="lg" style="">
        <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
                    <img src="{{ url('theme://images/logo.png') }}" alt="Workers&#039; History Museum" />
                </a>
    </div>
    <div class="mu" style="">
        <a href="#main-menu"
         role="button"
         id="main-menu-toggle"
         class="menu-toggle"
         aria-expanded="false"
         aria-controls="main-menu"
         aria-label="Open main menu">

        <span class="sr-only">Open main menu</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
      </a>

        <nav id="main-menu" role="navigation" class="main-menu" aria-expanded="false" aria-label="Main menu">
            <a href="#"
               role="button"
               id="main-menu-close"
               class="menu-close"
               aria-expanded="false"
               aria-controls="main-menu"
               aria-label="Close main menu">

              <span class="sr-only">Close main menu</span>
              <span class="fa fa-window-close" aria-hidden="true"></span>
            </a>
            <ul>
                {% if theme_config.dropdown.enabled %}
                    {{ _self.loop(pages) }}
                {% else %}
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">
                                {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                                {{ page.menu }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% for mitem in site.menu %}
                    <li>
                        <a href="{{ mitem.url }}">
                            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                            {{ mitem.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
     
</div>