{% set headerless_pages = ['Welcome'] %}
{% set text_align = center_page_title ? "center" : "left" %}

{% if not in_array(page_title, headerless_pages) %}

	<section class="page-header">
	    <div class="page-header-holder">

	        <h1 style="text-align: {{text_align}}">
	            {{ page_title|default('Page title has not been set') }}
	        </h1>

	    </div>
	</section>

{% endif %}