<div class="home-preview-container">
    <span class="home-preview-container-title">{{ t("HOME.EXHIBITS") }}</span>
</div>

 <div class="flex-one recent-exhibits" style="height: auto; padding-bottom:5vh;">
    <div class="home-preview-tiles-wrapper">

        {% include 'partials/exhibit_list.html.twig'
        with {
            'exhibits' : page.find('/exhibits').children.order('date', 'asc').slice(0, 4)
        } %}

    </div>
</div>