<div class="home-preview-container">
    <span class="home-preview-container-title">{{ t("HOME.WHATS_HAPPENING") }}</span>
</div>

<div class="flex-one" style="height: 500px">
    <div class="home-preview-tiles-wrapper">

        {% include 'partials/blog_post_list.html.twig'
        with {
            'posts' : page.find('/whats_happening').children.order('publish_date', 'desc').slice(0, 4)
        } %}

    </div>
</div>