{% block slider %}

    {% set most_recent_slider = page.find('/sliders').children.order('date', 'asc').slice(0, 1).first %}

    <div class="slider" style="background-image: url('{{ most_recent_slider.media["featureimage.jpg"].url }}')"
         onclick="location.href='{{ most_recent_slider.metadata["link"].content }}'">
        <div class="spacer"></div>
        <div class="wrapper text">
            {{ most_recent_slider.content }}
        </div>
    </div>

{% endblock %}