.exhibit {
	display: grid;
	grid-template-rows: 20vh auto auto;

	text-align: center;
	background-color: #f9f9f9;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-bottom: 2px solid #c0bcbc;
	
	& .feature-image {
		width: 100%;
		background-size: cover;
		background-position: center;
	}

	@media only screen and (min-width: 1024px) {
		&:hover {
			transform: translateZ(0);
			transform: scale(1.048);
			filter: contrast(95%);
		}
	}
}

