/* FOOTER */
#footer {
    margin-top: 25vh;
    padding: 0;
    display: block;
    color: #969595;
    border-top: 5px solid #e1472f;
    height: 42px;
    font-size: 11px;
}

@media only screen and (max-width: 800px) {
  #footer {
      margin-top: 13vh;
  }
}

#left-half-footer {
    width: 550px;
    margin-right: 20px;
    font: inherit;
    display: inline-block;

  & p {
    float:left;
    margin: 0;
    font-size:11px;
    vertical-align: baseline;
    line-height: 42px;
  }
}

#right-half-footer {
    width: 550px;
    margin-right: 0;
    font: inherit;
    display: inline-block;
}

#bottomfooter {
    height: 42px;
    line-height: 42px;
    position: relative;
    overflow: hidden;
    clear: both;
    background-color: #323232;

  & a {
    color:#efefef;
    transition: all 0.2s linear;
  }
}

ul.social, ul.language_selector {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul.social li {
    display:inline;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.social li a {
    height:42px;
    line-height: 42px;
	width:38px;
	display:block;
	font-size: 14px;
	text-align: center;
	margin:0 0 0 1px;
	float:left;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transition:background 0.2s linear;
	-moz-transition:background 0.2s linear;
	transition:background 0.2s linear;
}

ul.language_selector a {
    height: 42px;
    line-height: 42px;
}

ul.social li a:hover {
    font-size:18px;
    color:#fff !important;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

a.facebook:hover { background-color:#3b5998; }
a.twitter:hover  { background-color:#00acee; }
a.youtube:hover  { background-color:#d93030; }


/*END FOOTER*/