/* Default is for mobile*/

.full-grid {
	display: grid;
	grid-template-columns: auto;
}

@media only screen and (min-width: 767px) {
    .full-grid {
		grid-template-columns: auto auto;
	}
}

@media only screen and (min-width: 1024px) {
    .full-grid {
		grid-template-columns: auto auto auto auto;
	}
}