.header {
  color: white;
  height: 5.4em;

  .logo img {
    padding-top: 10px;
    width: 276px;
  }

  &.language-selector{
    background: #242424;
    height: 42px;
    
  }
}

.flags_language_selector {
  float: right;
  font-size: 12px;
  margin-right: 20px;

  & li {
    background:#242424;
    display: inline-grid;
    padding: 0 5px;
    margin: 0 3px;
    line-height: 42px;
  }
}

.flags_language_selector li.active-lang {
  background: #fff;
  color: #242424;
  line-height: 42px;
}

ul.langswitcher {
  display: inline-block;
  padding: 0 5px;
  margin: 0 3px;

  & a.external.active {
    background: #fff;
    color: #242424 !important;
    padding: 0px 5px;

  }
}