.descriptive {
  font-weight: bolder;
  text-transform: capitalize;
  
}

.has-children {
  padding-top: 2.5em;

  & a i {
    display: none;
  }
}

.parent {
  text-align: center;
  font-weight: bolder;
}

@media (min-width: 810px) {

  .descriptive {
    display: none;
  }

  .has-children {
    padding-top: 0em;
  }

  .main-menu ul {
    float: right;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;

    /* Child Indicator */
    & .has-children > a {
      padding-right: 30px;

      & i {
        display: inline-block;
      }
    }

    & > li {
      position: relative;
      letter-spacing: normal;
      background-position-x: right;
      background-position-y: center;
      background-size: initial;
      background-origin: initial;
      background-clip: initial;
      background-image: url(../images/nav-bg.png);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-color: initial;

      & ul {
        position: absolute;
        background-color: white;
        min-width: 100%;
        text-align: left;
        z-index: 999;
        display: none;

        &:hover {

        }
      }

      & a {
        position: relative;
        display: block;
        line-height: 86px;
        color: #686868;
        padding: 0 20px;
        white-space: nowrap;
        font-weight: 600;
      }

      /*Active dropdown nav item */
      &:hover {
        & > a {
          background-color: #e1472f;
          color: #fff;
        }

        & > ul {
          display: block;
        }
      }

      &.selected > a {
        background-color: #e1472f;
        color: #fff;
      }
    }
  }
}











////////// Not mine after here
















  /* Screen reader only */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 2em;
    color: #687475;;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }

  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  @media (min-width: 810px) {
    .main-menu {
      overflow-y: initial;
    }
  }


  .main-menu {
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
                box-shadow 0.3s ease;
    z-index: 999;
  }


  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
    
    & > li {
      & ul {
        display: none;
      }
    }
  }

  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }

  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }

  .main-menu .menu-close {
    text-align: right;
    right: 0;
    top: 0;
  }

  /*
   On small devices, allow it to toggle...
  */
  /*
   :target for non-JavaScript
   aria-expanded="true/false" will be for JavaScript
  */
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }

  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }

  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    display: block;
    position: relative;
    z-index: 1000;
  }

  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;  
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }

  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed;
    }
  }

  /*
   Larger screen styling
   Horizontal menu
  */
  @media (min-width: 810px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
    
    /* Undo positioning of off-canvas menu */
    .main-menu {
      position: relative;
      left: auto;
      top: auto;
      height: auto;
      overflow-y: initial;
    }
    
    .main-menu ul {
      display: flex;
      
      /* Undo off-canvas styling */
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
      

    }
    
    .main-menu a {
      color: #06c;
      border: 0 !important; /* Remove borders from off-canvas styling */
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
      color: #c00;
    }
  }

  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  header {
    padding: 20px;
    display: flex;
    align-items: baseline;
  }

  article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
  }

  article h2 {
    font-weight: 500;
    font-size: 28px;
  }

  .logo {
    justify-self: center;
  }

  .lg{
    order: 2;
  }

  .mu{
    order: 1;
  }

  .nav-log-wrap {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% auto;
  }
    @media only screen and (min-width: 810px) {
      .nav-log-wrap{
        margin: 0 18rem;
        grid-template-columns: 30% auto;
      }

      .lg{
        order: 1;
      }

      .mu{
        order: 2;
      }

      
    }
