.post {
	display: grid;
	
	background-color: #f9f9f9;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-bottom: 2px solid #c0bcbc;
	
	& > span, h3, p {
		padding-left: 10px;
		padding-right: 10px;
		
	}

	& .feature-image {
		width: 100%;
		background-size: cover;
		background-position: top;
	}

	& span {
	   font-size: 0.9em;
	   align-self: end;
	   padding-top: 10px;
	}

	& h3 {
		font-weight: 400;
		margin: 0;
	}

	& p {
		font-weight: 100;
	}


	&.full {
		grid-template-rows: 20vh 50px auto 25vh;
	}

	&.small {
		height: 15vh;
		grid-template-rows: auto auto;
		grid-template-columns: 25% auto;
		
		& .feature-image {
			grid-row-end: span 2;
		}

		& .no-image {
			background-color: #e1472f;
		}
	}

	@media only screen and (min-width: 768px) {
		&.small {
			height: 10vh;
		}
	}

	@media only screen and (min-width: 1024px) {
		&:hover {
			transform: translateZ(0);
			transform: scale(1.048);
			filter: contrast(95%);
		}
	}
}