    @media only screen and (max-width: 800px) {
      .side-menu {
        display: none;
      }
      .side-menu-with-content-wrapper {
        grid-template-columns: auto;
      }
    }

        @media only screen and (min-width: 810px) {
      .side-menu-with-content-wrapper {
        grid-template-columns: 300px auto;
      }
    }

.side-menu-with-content-wrapper {
  display: grid;
  grid-column-gap: 60px;

  .side-menu ul > a > li {
    list-style: none;
    margin: 5px;
    text-transform: uppercase;
    background-position-y: bottom;

    font-size: 0.8rem;
    padding-right: 20px;
    text-align: right;
    display: block;
    color: #686868;
    line-height: 60px;
    font-weight: 600;
    


    &:hover:not(.side-menu-selected-item) {
      color: white;
      background-color: #327b48;
      animation: pulse 0.7s 1;

      @keyframes pulse {
        0% {
          background-color: white;
          color: #686868;
        }
        100% {
          background-color: #327b48;
          color: white;
        }
      }
    }

    &.side-menu-selected-item {
      color: white;
      background-color: #327b48;
      border-right: 7px solid #ab0f17;
    }
  }
}