.slider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  & .text {
    background-color: #b10f1b;
    opacity: 0.7;
    color: white;
    letter-spacing: 2px;
    font-size: 1.3em;
    padding: 1px;
    margin-left: 40vw;
  }

  @media only screen and (min-width: 768px) {
    & .text {
      font-size: 1em;
      margin-left: 20vw;
      margin-right: 20vw;
      text-align: center;
    }
  } 

  @media only screen and (min-width: 1024px) {
    & .text {
      font-size: 1.3em;
      margin-left: 40vw;
      margin-right: 20vw;
      text-align: left;
    }
  } 

  @media only screen and (max-width: 767px) {
    & .text {
      font-size: 1em;
      margin-left: 0vw;
      margin-right: 0vw;
    }
  } 

    @media only screen and (max-width: 414px) {
    & .text {
      font-size: 1em;
      margin-left: 2vw;
      margin-right: 2vw;
    }
  } 

  & .spacer {
    height: 28vh;
  }

    @media only screen and (min-width: 360px) {
    & .spacer {
      height: 18vh;
    }
  }



  @media only screen and (min-width: 1024px) {
    & .spacer {
      height: 39vh;
    }
  }
}

@media only screen and (min-width: 768px) {
  .slider {
    padding-bottom: 10vh
  }
}

  @media only screen and (min-width: 768px) {
      .slider {
        padding-bottom: 0;
    
        & .spacer {
          height: 27vh;
        }
      }
  }

    @media only screen and (min-width: 1024px) {
      .slider {
        padding-bottom: 10vh;
    
      }
  }