body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}


h1 {
    font-weight: 300;
    font-size: 2.1em;
}

h2 {
    font-weight: 300;
    font-size: 1.6em;
}

a {
    color: green;
    text-decoration: none;

    &:hover { color: #e1472f; }
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

p {
    font-size: 1.1em;
    line-height: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    h1 { font-size: 1.6em; }
    h2 { font-size: 1.3em; }
    p { 
        font-size: 0.9em; 
        line-height: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
