/* Utility Classes */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 18rem;
}

.padding {
  padding: 3rem 1rem;
}

.left {
  float: left;
}

.right {
  float: right
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-one {
  flex: 1;
}

@media only screen and (max-width: 600px) {
    .wrapper {
      margin: 0px;
      text-align: center;
    }
}