.page-header {
  display: inline-grid;
  width: 100%;
  grid-template-rows: 90px auto;
  grid-template-columns: 10vw auto 10vw;
  color: white;
  background-image: url('../images/page-title-bg.png');
  height: 177px;
  margin-bottom: 80px;
  border-bottom: solid 1px grey;
}

.page-header-holder {
  padding: 0px 20px 20px 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  background: white;
}

.page-header-holder h2 {
  border-bottom: 1px solid #efefef;
  padding-bottom: 30px;
}

.body-corridor {
  display: flex;
  flex-direction: column;
  padding-left:10vw;
  padding-right:10vw;
  width:100%;
}

@media only screen and (max-width: 600px) {
    .page-header { 
      grid-template-columns: 1vw auto 1vw;
      margin-bottom: 40px;
    }

    .body-corridor {
      padding-left:3vw;
      padding-right:3vw;
    }
}

@media only screen and (max-width: 800px) {
    .page-header {
      margin-bottom: 1vh;
    }
    .page-header-holder {
      padding: 0px 20px 10px 20px;
    }
    .body-corridor {
      padding-left:2vw;
      padding-right:2vw;
    }
}