
.page-header-holder {
    text-align: center;
}

.post-corridor {
    padding-left: 15vw;
    padding-right: 15vw;
    
    @media only screen and (max-width: 600px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media only screen and (max-width: 800px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    p {
        overflow: hidden;
        
        & img {
            width: 100%;
            height: 100%;
        }
    }
    
    .metadata {
        color: #808080;
        text-align: center;
        
        & > span {
            padding-right: 20px;
        }
    }
}

.tags {
    margin-top: 5vh;

    & .tag {
        list-style: none;
        margin: 0 6px 6px 0;
        padding: 0 6px;
        font-size: 11px;
        background-color: #eee;
        font-weight: bold;
        float: left;
        border-radius: 2px;
        color: #555;;
    }

    & .tag-icon {
        font-size: 1em;
        float: left;
    }
}


@media only screen and (max-width: 600px) {
    .metadata {
        font-size: 0.8em;
    }
}
