.exhibit-corridor {
    padding-left: 2vw;
    padding-right: 2vw;
}

@media only screen and (min-width: 768px) {
  .exhibit-corridor {
      padding-left: 5vw;
      padding-right: 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .exhibit-corridor {
      padding-left: 15vw;
      padding-right: 15vw;
  }
}

.exhibit-section {
    width: 100%;
    padding: 3vw;
    display: table;
    margin: 0;
    background-color: #373B44;

  &:nth-of-type(2n) {
    background-image: url("../images/page-title-bg.png");
  }

  & .content {
    display: table-cell;
    vertical-align: middle;
  }

  & h1, h2 { 
    color: white;
    font-weight: 300;
  }

  & p {
    color: #C3CAD9;
  }

  & iframe {
    border: none;
    width: 100% !important;
    height: auto !important;
  }

  & ul {
    font-size: 0.9em;
    color: #C3CAD9;
  }

  & img {
    height: 100%;
    width: 100%;
  }

  & a {
    color: #e1472f;
  }

  @media only screen and (min-width: 768px) {
      & img {
        width: auto;
      }
  }

}

@media only screen and (min-width: 1024px) {
    .exhibit-section  {
      height: 100vh;
    
      & h1 {
        font-size: 3em;
      }

      & p {
        font-size: 1.5em;
      }

      & ul {
        font-size: 1.2em;
      }

      & img {
        height: auto;
      }

      & iframe {
        width: inline;
        height: inline;
      }
    }
}