.exhibit-list {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 5vh;
  grid-column-gap: 5vw;
}

@media only screen and (min-width: 1024px) {
  .exhibit-list {
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.exhibit-wrapper ul {
  height: auto;
  width: 20000em;
  position: absolute;
  list-style: none;
  margin: 0 !important;
  padding: 0;
  list-style-type: none;
  display: contents;
}

.exhibit-wrapper li {
  float: left;
  list-style: none;
  width: 220px;
  height: auto;
  border-bottom: 2px solid #323232;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  margin-right: 20px;
  margin-left: 0;
  text-align: center;
  display: block;
  position: relative;
  padding: 0;
}

.exhibit-wrapper a {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  color: #323232;
}

.exhibit-wrapper {
  min-height: 285px;
  overflow: hidden;
  position: relative;
}

.exhibit-synopsis {
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 140px;
  text-align: center;

}