.home-section{
  margin-bottom: 20px;
  height: 25px;
  padding-bottom: 7px;
  border-bottom: 1px solid #efefef;
  box-sizing: content-box !important;
}

.home-preview-container {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  flex: 1;
  padding-top:10vh;
}

@media only screen and (max-width: 768px) {
  .home-preview-container {
    padding-top: 2vh;
  }
} 

@media only screen and (max-width: 375px) {
  .home-preview-container {
    padding-top: 3vh;
  }
}

@media only screen and (min-width: 800px) {
  .home-preview-container {
    padding-top: 6vh;
  }
}

.home-preview-container-title {
  font-size: 13px;
  font-weight: 600;
  float: left;
  height: 26px;
  line-height: 26px;
  background: #f7f7f7;
  padding: 0 10px;
  text-transform: uppercase;
}

.home-preview-tiles-wrapper {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1vw;
}


.small-preview {
  grid-template-columns: auto;
  display: grid;
  width: 100%;
  height: 54vh;
  grid-template-rows: auto auto;
  grid-row-gap: 1vh;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;  
}

@media only screen and (min-width: 768px) {
  .small-preview {
    padding-top: 5vh;
    height: 33vh;
    grid-template-columns: 0px 36vw auto 36vw 0px;
    
    & .blog-item {
      grid-column-start: 4;
    }
    & .exhibit-item {
      grid-column-start: 2;
    }
  }
  
}

@media only screen and (min-width: 1024px) {
  .small-preview {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .full-preview {
    display: none;
  }
}

.item {
  background-size: cover;
  display: flex;
  height: 100%;
  
  & h1 {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #000;
    margin: auto;
  }
}


