.blog-posts-list {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 3vh;
	margin: 2vw;
}

@media only screen and (min-width: 1024px) {
	.blog-posts-list {
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 1vw;
	}
}

.older-posts-list {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 1vh;
} 

@media only screen and (min-width: 1024px) {
	.older-posts-list {
		grid-template-columns: auto auto;
		grid-column-gap: 1vw;
		
		& .older-post-header {
			grid-column-end: span 2;
		}
	}
}

.paginator {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;

	&  ul li a {
		color: white;
		display: inline-block;
		margin-bottom: 1vh;
	}

	&  ul li {
		text-align: center;
		list-style: none;
		background-color: #327b48;
		color: white;
		font-size: 1.9em;
	    display: inline-grid;
	    width: 15vw;
	    margin-right: 1vh;
	    margin-bottom: 2vh;
	}

	@media only screen and (min-width: 768px) {
		&  ul li {
		    width: 8vw;
		}
	}

	@media only screen and (min-width: 1024px) {
		&  ul li {
		    width: 3vw;
		}
	}

	& .current-page{
		background-color: #e1472f;
	}
}